.epic-btn {
  position: relative;
  overflow: hidden;

  & > span {
    display: block;
    white-space: nowrap;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    &:last-child {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      translate: -50% -50%;
      color: inherit;
    }
    &:last-child {
      transform: translateY(40px);
      opacity: 0;
    }
  }
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    transition: transform 0.3s ease-in-out;
    // background-color: #fb8f1d;
    transform: translateY(60px);
  }

  &:active {
    scale: 0.97;
  }

  @include hover {
    &::after {
      transform: translateY(0);
      border-radius: 0;
    }
  }

  @include hover {
    & > span {
      &:first-child {
        transform: translateY(-40px);
        opacity: 0;
      }
      &:last-child {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}
