<section class="about">
  <div class="container about__container">
    <div class="about__row">
      <div class="about__img">
        <picture>
          <source
            srcset="./assets/img/content/about/aboutLung.webp"
            type="image/webp"
          />
          <img
            width="398"
            height="465"
            src="./assets/img/content/about/aboutLung.jpg"
            alt="lung"
          />
        </picture>
      </div>
      <div class="about__content">
        <p class="about__tip">
          People are living longer. We want you to live better.
        </p>
        <h2 class="about__title">Welcome to Skyline Urology</h2>
        <div class="about__text-wrapper">
          <p class="about__text">
            Drs. Royal Park, Alec Koo, and Fredrick Wolk are board-certified
            urologic surgeons at Skyline Urology in Torrance, California. The
            practice provides comprehensive care for all urologic conditions.
            For your convenience, we offer in-office imaging and lab testing to
            diagnose and treat your condition in a single visit. We provide
            medical and surgical treatments utilizing the latest minimally
            invasive technology.
          </p>
          <p class="about__text">
            Skyline Urology provides the most up-to-date treatments, including
            Rezum and Urolift for benign prostatic hyperplasia (BPH), and
            low-intensity shock wave therapy and PRP for men’s erectile
            dysfunction and Peyronie’s disease. We are experts in men’s sexual
            health and treat low testosterone and premature ejaculation and can
            perform your vasectomy. Our cancer center of excellence is available
            to deliver the highest level of oncologic care for men with prostate
            and bladder cancer. We take pride in our expertise in helping women
            with their urinary issues as well.
          </p>
        </div>
      </div>
    </div>
    <div class="about__row">
      <div class="about__card">
        <div class="about__card-content">
          <p class="about__card-text">
            Given the sensitive nature of urologic diseases, we are focused on
            providing care in an empathetic and private environment. The doctors
            and staff strive to make your office experience as pleasant and
            smooth as possible.
          </p>
          <div class="about__card-btn btn epic-btn shiny-btn">
            <span>Book Online</span>
            <span>Book Online</span>
          </div>
        </div>
        <div class="about__card-img">
          <picture>
            <source
              srcset="./assets/img/content/about/aboutDoctors.webp"
              type="image/webp"
            />
            <img
              width="366"
              height="300"
              src="./assets/img/content/about/aboutDoctors.png"
              alt="doctor examines patient"
            />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
