<footer class="footer">
  <div class="container footer__container">
    <div class="footer__row">
      <div class="footer__location">
        © 2022 «Skyline Urology» Address: 23600 Telo Ave, Suite 220, Torrance,
        CA 90505
      </div>
      <div class="footer__top-nav">
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Viagra Professional</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Cenforce</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Generic Cialis</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Aurogra</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Genegra</a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Eriacta</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Cialis Super Active</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Viagra Super Force</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Eulexin</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Tadacip</a>
          </li>
        </ul>
        <ul class="footer__list">
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Generic Viagra</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Fildena</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Assurans</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Forzest</a>
          </li>
          <li class="footer__list-item">
            <a href="#" class="footer__list-item-link">Zudena</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__nav">
    <div class="container">
      <ul class="footer__nav-list">
        <li class="footer__nav-list-item">
          <a href="#" class="footer__nav-link">About Us</a>
        </li>
        <li class="footer__nav-list-item">
          <a href="#" class="footer__nav-link">Delivery</a>
        </li>
        <li class="footer__nav-list-item">
          <a href="#" class="footer__nav-link">Services</a>
        </li>
        <li class="footer__nav-list-item">
          <a href="#" class="footer__nav-link">Our Products</a>
        </li>
        <li class="footer__nav-list-item">
          <a href="#" class="footer__nav-link">Resources</a>
        </li>
        <li class="footer__nav-list-item">
          <a href="#" class="footer__nav-link">Contact</a>
        </li>
        <li class="footer__nav-list-item">
          <a href="#" class="footer__nav-link">Privacy Policy</a>
        </li>
        <li class="footer__nav-list-item">
          <a href="#" class="footer__nav-link">Terms & Conditions</a>
        </li>
        <li class="footer__nav-list-item">
          <a href="#" class="footer__nav-link">Accessibility Notice </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
