<header class="header">
  <div class="container header__container flex-center">
    <a href="#" class="header__logo"><img src="" alt="logo" /></a>
    <div class="header__navigation flex-center">
      <nav class="nav">
        <ul class="nav__list flex-center">
          <li class="nav__list-item">
            <a href="#" class="nav__list-item-link">Home</a>
          </li>
          <li class="nav__list-item">
            <a href="#" class="nav__list-item-link">About</a>
          </li>
          <li class="nav__list-item">
            <a href="#" class="nav__list-item-link">Contact</a>
          </li>
        </ul>
      </nav>
      <div class="header__buttons flex-center">
        <button class="btn header__btn">Login</button>
        <button class="btn header__btn">Sign Up</button>
      </div>
    </div>
    <div class="burger">
      <span></span>
    </div>
  </div>
</header>
