<section class="hero">
  <div class="container hero__container">
    <div class="hero__row">
      <div class="hero__content">
        <h1 class="hero__title">Urology Specialty Group</h1>
        <p class="hero__text">
          Empowering urologists to provide the best possible care
        </p>
        <a href="#" class="hero__adress">
          <svg
            width="20"
            height="28"
            viewBox="0 0 20 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g opacity="0.6">
              <path
                d="M9.99997 14.1429C12.1302 14.1429 13.8571 12.416 13.8571 10.2857C13.8571 8.15549 12.1302 6.42859 9.99997 6.42859C7.86972 6.42859 6.14282 8.15549 6.14282 10.2857C6.14282 12.416 7.86972 14.1429 9.99997 14.1429Z"
                stroke="#181A36"
                stroke-width="2"
                stroke-miterlimit="10"
              />
              <path
                d="M18.8714 11.4429C19 11.0572 19 10.6715 19 10.2858C19 5.27148 15.0143 1.28577 10 1.28577C4.98571 1.28577 1 5.27148 1 10.2858C1 10.6715 1 11.0572 1.12857 11.4429C1.9 18.9001 10 27.0001 10 27.0001C10 27.0001 18.1 18.9001 18.8714 11.4429Z"
                stroke="#181A36"
                stroke-width="2"
                stroke-miterlimit="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </g>
          </svg>
          <span> Urologists located in Torrance, CA </span>
        </a>
        <button class="btn hero__btn epic-btn shiny-btn">
          <span>Shop Online</span>
          <span>Shop Online</span>
        </button>
      </div>
      <div class="hero__img">
        <picture>
          <source
            srcset="./assets/img/content/heroHumans.png"
            type="image/webp"
          />
          <img
            width="969"
            height="825"
            src="./assets/img/content/heroHumans.png"
            alt="doctor examines patient"
          />
        </picture>
      </div>
    </div>
    <div class="hero__offer offer">
      <h2 class="offer__title">What We Offer</h2>
      <div class="offer__list-wrapper">
        <ul class="offer__list">
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Viagra Professional</a>
          </li>
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Cenforce</a>
          </li>
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Generic Cialis</a>
          </li>
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Aurogra</a>
          </li>
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Genegra</a>
          </li>
        </ul>
        <ul class="offer__list">
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Eriacta</a>
          </li>
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Cialis Super Active</a>
          </li>
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Viagra Super Force</a>
          </li>
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Eulexin</a>
          </li>
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Tadacip</a>
          </li>
        </ul>
        <ul class="offer__list">
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Generic Viagra</a>
          </li>
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Fildena</a>
          </li>
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Assurans</a>
          </li>
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Forzest</a>
          </li>
          <li class="offer__list-item">
            <a class="offer__list-item-link" href="#">Zudena</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
