<section class="location">
  <div class="container location__container">
    <div class="location__content">
      <div class="location__datas">
        <h2 class="location__title">Location</h2>
        <p class="location__data">
          Skyline Urology, Torrance, CA,<br />
          Address: 23600 Telo Ave, Suite 220, Torrance, CA 90505
        </p>
        <button class="location__btn btn epic-btn shiny-btn">
          <span>Book Online</span>
          <span>Book Online</span>
        </button>
      </div>
      <div class="location__hours">
        <h3 class="location__hours-title">Office Hours</h3>
        <div class="location__hours-item">
          <span class="location__hours-day">Monday</span>
          <span class="location__hours-am">9:00 am – 5:00 pm</span>
        </div>
        <div class="location__hours-item">
          <span class="location__hours-day">Tuesday</span>
          <span>9:00 am – 5:00 pm</span>
        </div>
        <div class="location__hours-item">
          <span class="location__hours-day">Wednesday</span>
          <span>9:00 am – 5:00 pm</span>
        </div>
        <div class="location__hours-item">
          <span class="location__hours-day">Thursday:</span>
          <span>9:00 am – 5:00 pm</span>
        </div>
        <div class="location__hours-item">
          <span class="location__hours-day">Friday:</span>
          <span>8:00 am – 4:00 pm</span>
        </div>
        <div class="location__hours-item">
          <span class="location__hours-day">Saturday, Sunday:</span>
          <span>Closed</span>
        </div>
      </div>
    </div>
    <div class="location__locate">
      <picture>
        <source srcset="./assets/img/content/locate.jpg" type="image/jpg" />
        <img
          loading="lazy"
          src="./assets/img/content/locate.webp"
          alt="doctor examines patient"
        />
      </picture>
    </div>
  </div>
</section>
