<section class="services">
  <div class="container services__container">
    <h2 class="services__title">Our Services</h2>
    <div class="services__cards">
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services1.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services1.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Prostate Cancer</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services2.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services2.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Vasectomy</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services3.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services3.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Erectile Dysfunction</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services4.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services4.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Bladder Cancer</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services5.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services5.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Kidney Stones</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services6.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services6.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Peyronie’s Disease</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services7.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services7.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">PSA Screening</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services8.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services8.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Incontinence</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services9.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services9.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Interstitial Cystitis</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services10.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services10.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Men’s Health</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services11.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services11.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Enlarged Prostate</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services12.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services12.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Urinary Tract Infection</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services13.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services13.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Benign Prostatic Hyperplasia</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services14.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services14.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Fusion Prostate Biopsy</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services15.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services15.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Premature Ejaculation</p>
      </a>
      <a href="#" class="services__card">
        <div class="services__card-img">
          <picture>
            <source
              srcset="./assets/img/content/services/services16.jpg"
              type="image/webp"
            />
            <img
              src="./assets/img/content/services/services16.webp"
              alt="doctor examines patient"
            />
          </picture>
        </div>
        <p class="services__card-text">Frequent Urination</p>
      </a>
    </div>
  </div>
</section>
