html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  width: max-content;
  display: inline-block;

  font: inherit;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &:active {
    outline-offset: 1px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:focus-visible {
  outline-offset: 3px;
  border-radius: 1px;
  outline: 2px solid darkorange;
}
