@import '../sass-utils/variables';

// Body
body {
  font-family: 'Golos Text', sans-serif;
  font-weight: 500;
  font-size: 15px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #fff;
}

// Wrapper
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Container
.container {
  margin: 0 auto;

  max-width: 1270px;
  padding: 0 15px;
}

//flex items-center justify-between
.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// flex center
.flex-center {
  display: flex;
  align-items: center;
}

.btn {
  user-select: none;
  display: inline-block;
  cursor: pointer;
  padding: 16px 30px;
  background-color: $green;
  color: #fff;
  font-size: 18px;
  font-weight: 600;

  box-shadow: 0px 10px 30px rgba(0, 167, 181, 0.3);
  border-radius: 10px;
}
