//Burger Colors
$burgerColor: rgb(255, 255, 255);
$burgerActiveColor: rgb(255, 255, 255);

// Main Colors
$primary: #995151;
$secondary: #ef2314;

// extra colors
$apricot: #fbceb1;
$light: #fff;
$dark: #222;
