// header
.header {
  padding: 20px 0;

  &__logo {
    @media screen and (max-width: 768px) {
      width: 150px;
    }
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    // @media screen and (max-width: 768px) {
    //   justify-content: space-between;
    // }
  }
}

.nav {
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  @media screen and (max-width: 992px) {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;

    flex-direction: column;

    min-height: 100%;
    width: 250px;

    padding: 100px 0;

    transform: translateX(400px);
    transition: opacity 0.6s, transform 0.3s;

    opacity: 0;
    border-radius: 5px 0 0 5px;

    //

    background: rgba(255, 255, 255, 0.67);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    //

    box-shadow: -6px 0px 24px -1px rgba(44, 51, 56, 0.15);
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 61px;

    @media screen and (max-width: 1200px) {
      gap: 30px;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: flex-start;
      padding-left: 80px;
      gap: 20px;
    }
  }

  &__link {
    opacity: 0.6;
    display: inline-block;
    color: $blue;
    &.active {
      opacity: 1;
      position: relative;
      &::after {
        bottom: -2px;
      }
      &::before {
        content: '';
        position: absolute;
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
        width: 6px;
        height: 6px;
        background-color: #00a7b5;
        border-radius: 50%;
      }
    }
    transition: color 0.3s ease-in-out, opacity 0.3s ease-in-out;

    position: relative;

    @include hover {
      color: $dark;
      opacity: 1;
      &::after {
        transform: scaleX(1);
        transform-origin: left bottom;
      }
      // color: $dark;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -6px;

      height: 1px;
      width: 100%;

      background: $dark;
      border-radius: 5px;
      transform: scaleX(0);
      transition: transform 200ms ease-in-out;
      transform-origin: right bottom;
    }
  }
}
