.hero {
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 250px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 93.02%
    );
    bottom: 0;
    z-index: -1;
  }
  position: relative;
  transform: translateY(-95px);
  padding-top: 210px;
  @media screen and (max-width: 992px) {
    padding-top: 140px;
  }

  background: url('../img/content/hero/heroBg.png') no-repeat center/cover;
  background-size: cover;
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__row {
    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;
    }
  }

  &__content {
    position: relative;
    z-index: 2;
    max-width: 503px;
  }

  &__title {
    margin-bottom: 18px;

    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $lightBlue;
    @media screen and (max-width: 992px) {
      font-size: 20px;
      margin-bottom: 12px;
    }
    @media screen and (max-width: 475px) {
      font-size: 16px;
    }
  }

  &__text {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 45px;
    color: $blue;
    @media screen and (max-width: 992px) {
      font-size: 35px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 475px) {
      font-size: 25px;
    }
  }

  &__adress {
    margin-bottom: 41px;
    @media screen and (max-width: 992px) {
      font-size: 20px;
      margin-bottom: 20px;
    }
    @media screen and (max-width: 475px) {
      font-size: 16px;
      svg {
        width: 16px;
        height: 20px;
      }
    }
    display: flex;
    align-items: center;
    gap: 13px;
    font-weight: 400;
    font-size: 23px;
    color: $blue;
    span {
      opacity: 0.6;
      transition: opacity 0.3s ease-in-out;
      @include hover {
        opacity: 1;
      }
    }
  }

  &__btn {
    transition: background-color 0.3s ease-in-out;
    @include hover {
      background-color: $darkGreen;
    }
    @media screen and (max-width: 475px) {
      display: block;
      margin: 0 auto;
      padding: 15px 80px;
      font-size: 16px;
    }
  }

  &__img {
    @media screen and (max-width: 1200px) {
      width: 800px;
    }
    @media screen and (max-width: 992px) {
      width: 600px;
      top: -50px;
    }
    @media screen and (max-width: 768px) {
      position: relative;
      inset: auto;
      max-width: 100%;
      width: 90%;
    }

    position: absolute;
    right: -150px;
    top: -110px;
  }

  &__offer {
    transform: translateY(100px);
    @media screen and (max-width: 768px) {
      transform: translateY(50px);
    }
  }

  // Icons
  &__circle-icon {
    position: absolute;
    z-index: 2;
    right: -52px;
    top: -20px;
    animation: circleAnimate 12s ease-in-out infinite both;
    @media screen and (max-width: 1200px) {
      right: 0;
    }
    @media screen and (max-width: 992px) {
      top: 300px;
      left: auto;
      right: 50px;
      bottom: auto;
    }
    @media screen and (max-width: 475px) {
      scale: 0.6;
    }
  }
  &__lung-icon {
    position: absolute;
    z-index: 2;
    left: 405px;
    bottom: 205px;
    animation: lungAnimate 3s ease-in-out infinite;
    @media screen and (max-width: 992px) {
      bottom: 400px;
    }
    @media screen and (max-width: 475px) {
      bottom: 450px;
      scale: 0.6;
      left: 200px;
    }
  }
  &__urea-icon {
    position: absolute;
    z-index: 2;
    right: 608px;
    top: -75px;
    animation: ureaAnimate 6s ease-in-out infinite;
    animation-delay: 2s;
    @media screen and (max-width: 1200px) {
      right: 450px;
    }
    @media screen and (max-width: 992px) {
      right: 300px;
    }
    @media screen and (max-width: 992px) {
      top: 300px;
      right: auto;
      left: 50px;
      bottom: auto;
    }
    @media screen and (max-width: 475px) {
      scale: 0.6;
    }
  }
  .icon-hover {
    transition: fill 0.3s ease-in-out, scale 0.3s ease-in-out;
    @include hover {
      fill: $green;
      stroke: #fff;
      scale: 1.2;
    }
  }

  // Points
  .point-icon {
    position: absolute;
    transition: scale 0.3s ease-in-out;
    @include hover {
      scale: 1.2;
    }
  }
  &__point-icon-1 {
    top: 235px;
    left: -176px;
  }
  &__point-icon-2 {
    top: 80px;
    left: -115px;
  }
  &__point-icon-3 {
    top: 400px;
    left: -95px;
  }
  &__point-icon-4 {
    top: -48px;
    left: 490px;
    scale: 0.7;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &__point-icon-5 {
    right: 24px;
    top: -90px;
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
  &__point-icon-6 {
    right: -215px;
    scale: 0.6;
    top: 5px;
  }
  &__point-icon-7 {
    right: -123px;
    top: 215px;
  }
  &__point-icon-8 {
    bottom: 78px;
    scale: 1.4;
    right: -125px;
  }
}

.offer {
  display: flex;

  width: 100%;
  gap: 138px;
  padding: 41px 90px 46px 50px;

  @media screen and (max-width: 1200px) {
    padding: 31px 80px 40px 45px;
    gap: 40px;
  }
  @media screen and (max-width: 992px) {
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
  }
  @media screen and (max-width: 768px) {
    padding: 20px 30px;
    gap: 20px;
  }
  @media screen and (max-width: 475px) {
  }

  background: rgba(255, 255, 255, 0.7);
  box-shadow: 0px 20px 50px rgba(24, 26, 54, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 30px;

  &__title {
    max-width: 172px;
    font-weight: 700;
    font-size: 40px;
    @media screen and (max-width: 1200px) {
      font-size: 30px;
    }
    @media screen and (max-width: 992px) {
      max-width: 300px;
    }
    @media screen and (max-width: 768px) {
      font-size: 25px;
    }

    color: $lightBlue;
  }

  &__list-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media screen and (max-width: 768px) {
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
    }
    @media screen and (max-width: 475px) {
      justify-content: flex-start;
      flex-direction: column;
      gap: 25px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 14px;

    @media screen and (max-width: 475px) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      column-gap: 30px;
      padding-bottom: 20px;
      &:not(:last-child) {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__list-item {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: -15px;
      top: 50%;
      transform: translateY(-50%);
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background-color: $green;
    }
    @media screen and (max-width: 475px) {
      &::before {
        left: -12px;
      }
    }
  }

  &__list-item-link {
    font-weight: 500;
    font-size: 20px;
    color: $blue;
    transition: color 0.3s ease-in-out;
    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
    @include hover {
      color: $green;
    }
  }
}

@keyframes ureaAnimate {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 50px);
  }

  100% {
    transform: translate(0, 0);
  }
}
@keyframes lungAnimate {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 20px);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes circleAnimate {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(10px, 50px);
  }
  50% {
    transform: translate(-20px, 30px);
  }
  75% {
    transform: translate(50px, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
